#!/usr/bin/env bash

source "{{ .chezmoi.sourceDir }}/source/00_common.sh"

rm -rf "{{ .chezmoi.homeDir }}/.zprezto"
git clone --recursive https://github.com/sorin-ionescu/prezto.git "{{ .chezmoi.homeDir }}/.zprezto"

ln -nfs "{{ .chezmoi.homeDir }}/.zprezto/runcoms/zlogin" "{{ .chezmoi.homeDir }}/.zlogin"
ln -nfs "{{ .chezmoi.homeDir }}/.zprezto/runcoms/zlogout" "{{ .chezmoi.homeDir }}/.zlogout"
ln -nfs "{{ .chezmoi.homeDir }}/.zprezto/runcoms/zprofile" "{{ .chezmoi.homeDir }}/.zprofile"
ln -nfs "{{ .chezmoi.homeDir }}/.zprezto/runcoms/zshenv" "{{ .chezmoi.homeDir }}/.zshenv"

# Create override directories.
mkdir -p {{ .chezmoi.homeDir }}/.zsh.before
mkdir -p {{ .chezmoi.homeDir }}/.zsh.after
mkdir -p {{ .chezmoi.homeDir }}/.zsh.prompts

# zsh
if is_osx; then
    # This is where brew stores its binary symlinks
    local binroot="$(brew --config | awk '/HOMEBREW_PREFIX/ {print $2}')"/bin

    if [[ "$(type -p $binroot/zsh)" && "$(cat /etc/shells | grep -q "$binroot/zsh")" ]]; then
      e_header "Adding $binroot/zsh to the list of acceptable shells"
      echo "$binroot/zsh" | sudo tee -a /etc/shells >/dev/null
    fi
    if [[ "$(dscl . -read ~ UserShell | awk '{print $2}')" != "$binroot/zsh" ]]; then
      e_header "Making $binroot/zsh your default shell"
      sudo chsh -s "$binroot/zsh" "$USER" >/dev/null 2>&1
      e_arrow "Please exit and restart all your shells."
    fi
else
    if [[ "$(type -p /usr/bin/zsh)" && "$(cat /etc/shells | grep -q "/usr/bin/zsh")" ]]; then
      e_header "Adding /usr/bin/zsh to the list of acceptable shells"
      echo "/usr/bin/zsh" | sudo tee -a /etc/shells >/dev/null
    fi
    if [[ "$(getent passwd $(id -un) | awk -F : '{print $NF}')" != "/usr/bin/zsh" ]]; then
      e_header "Making /usr/bin/zsh your default shell"
      sudo chsh -s "/usr/bin/zsh" "$USER" >/dev/null 2>&1
      e_arrow "Please exit and restart all your shells."
    fi
fi
